html, body{
	height: 100%;
	width: 100%
}
#home{
	background: url(img4.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	background-size: cover;
	width: 100%;
	color: white ;
	background-color: rgba(255 255 277 0.75);

}
.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: black;
	


}
.landing-text h3{
	font-size: 800%
	font-weight: 700%;
	color:white;
	
}
.landing-text h1{
	font-size: 1500%
	font-weight: 700%;
	color: white;
	
}
.padding{
	padding: 80px 0;
}
.padding img{
	width: 100%;

}
#fixed{
	background: url(img3.jpg) no-repeat center center fixed; 
	display: table;
	background-size: cover;
	height: 60%;
	width:100%;
	position: relative;
	background-color: rgba(255 255 277 0.75);
}
#fixed h1{
	display: table-cell;
	
	text-align: center;
	vertical-align: middle;

	}
footer{
	width: 100%;
	background-color: #161616;
	padding-top: 0%;
	padding-bottom: 0;
	color: white;

}
.fa{
	padding: 15px;
	font-size: 25px;
	color: white;
	height: 100%;
	width: 100%;


}
.fa: hover{
	color:#191919;
	text-decoration: none;
}


.navbar-brand{
	min-height: 55px;
	padding: 15px 15px 5px;
}
.navbar-inverse {
	color: black;
	opacity: 50%;
}


.navbar-default .navbar-nav li a{
	color: #dbd8d8;
}


}
#Heading{
	font-size: 400;
	padding: center;
	background-color: transparent;
	

}
.navbar{
	background-color: #191919;
	background-opacity: relative;
	background-color: rgba(255 255 277 0.75);
}
#proimg{

	background-image: url(images.jpg) ; 
}

